<div class="row">
  <div class="col-10">
    <button class="button-margin" mat-raised-button color="accent" (click)="openDatabaseDataModal()">Wybierz bazę
      danych
    </button>
  </div>
  <div class="col-2">
    <button class="button-margin" mat-raised-button color="primary" (click)="generateSelectSQL()">
      Generuj
    </button>
  </div>
</div>
<ng-container *ngIf="databaseSchema">
<div class="col-2 h-100 d-inline-grid database-tables">
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let table of databaseSchema?.tableDTOS" (click)="addTableToDisplay(table)">
      {{table.name}}
    </mat-list-option>
  </mat-selection-list>
</div>
<div class="col-10 d-inline-table">
  <div class="row col-12 table-container">
    <mat-selection-list disabled class="col-12 d-inline-grid" *ngIf="tablesToDisplay.size === 0" [multiple]="false">
      <mat-list-option class="text-center">
        Brak wybranych tabel
      </mat-list-option>
    </mat-selection-list>
    <mat-selection-list class="col-3 d-inline-grid" *ngFor="let table of tablesToDisplay" [multiple]="false">
      <div class="table-content">
        <div class="row">
          <div style="place-self: center;" class="col place-content-center">
            <span class="table-name">{{table.name}}</span>
          </div>
          <div class="col text-right">
            <button mat-icon-button color="warn" (click)="deleteTableToDisplay(table)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <hr>
        <mat-list-option *ngFor="let column of table.columns" (click)="addDataToDisplay(column, table)">
          <div>
            {{column}}
            <mat-icon class="keys-icon" color="accent" *ngIf="checkIsPrimaryKey(table,column)">key</mat-icon>
            <mat-icon class="keys-icon" color="primary" *ngIf="checkIsForeignKey(table,column)">key</mat-icon>
          </div>
        </mat-list-option>
      </div>
    </mat-selection-list>
  </div>
  <hr>
  <div class="row query-container">
    <div class="col-1">
      <div *ngFor="let name of dataSelectionOptions" class="row pb-6">
        <span>{{name}}:</span>
      </div>
    </div>
    <div class="col-2" *ngFor="let data of dataToDisplay">
      <div class="row pb-6"><span>{{data.column}}</span></div>
      <div class="row pb-6"><span>{{data.table}}</span></div>
      <div class="row pb-6">
        <select [(ngModel)]="data.join" name="join" style="width: 95%">
          <option [value]="'none'">Brak</option>
          <option *ngFor="let joinOption of data.joinOptions"
                  [value]="generateJoin(joinOption)">{{joinOption.tableToJoin}}</option>
        </select>
      </div>
      <div class="row pb-6">
        <select [(ngModel)]="data.groupBy" style="width: 95%">
          <option [value]="'none'">Brak</option>
          <option [value]="'sum'">Suma</option>
          <option [value]="'avg'">Średnia</option>
          <option [value]="'min'">Minimum</option>
          <option [value]="'max'">Maksimum</option>
          <option [value]="'count'">Policz</option>
          <option [value]="'first'">Pierwszy</option>
          <option [value]="'last'">Ostatni</option>
        </select>
      </div>
      <div class="row pb-6">
        <select [(ngModel)]="data.sort" name="sortuj" style="width: 95%">
          <option value="none"></option>
          <option value="asc">Rosnąco</option>
          <option value="desc">Malejąco</option>
        </select>
      </div>
      <div class="row pb-6 place-content-center">
        <input [(ngModel)]="data.show" type="checkbox">
      </div>
      <div class="row pb-6">
        <input [(ngModel)]="data.where" style="width: 95%">
      </div>
      <div style="place-content: center" class="row">
        <button mat-icon-button color="warn" (click)="deleteDataToDisplay(data)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
</ng-container>
