.d-inline-grid {
  display: inline-grid;
}
.d-inline-table {
  display: inline-table;
}
.place-content-center{
  place-content: center;
}
.table-content {
  padding: 20px;
  border-style: groove;
  border-radius: 14px;
}
.database-tables{
  overflow: auto;
}
.table-container{
  height: 63vh;
  overflow: auto;
}
.query-container{
  height: 30%;
  flex-flow: nowrap;
  overflow-x: auto;
}
.keys-icon{
  float: right;
}
.h-100{
  height: 100%;
}
.pb-6{
  padding-bottom: 6px;
}
.generate-button{
  justify-content: flex-end;
  height: 7%;
}
.button-margin {
  margin: 15px 65px
}
.min-width-200 {
  min-width: 200px;
}
